[2020-02-02 13:40] jsparmani opened #2 "Contact form crashes after navigation"
The contact us form on the home page collapses when the user navigates back to the home page.

[2020-02-02 13:51] jsparmani opened #3 "Add props to Card Component"
The card component used in the achievements page needs to be dynamically accepting props from the achievements page for backend integration of content.

[2020-02-02 14:04] shubhank-saxena opened #4 "About us button"
About us button should be renamed to Code of Conduct and this document should be linked to it
https://docs.google.com/document/d/1bbpf78aMSH2ntSZEWR09Q05OVDHFp6IoFlVHtcvC0eQ/edit?usp=sharing

[2020-02-02 14:05] shubhank-saxena opened #6 "Nav Bar Edit"
Meet our team button should link to Teams page. So, remove the teams tab from nav bar

[2020-02-02 14:05] kush-daga commented on #4
maybe add a link to this in about us section?

[2020-02-02 14:07] shubhank-saxena commented on #4
@kush-daga that can be displayed on the main page. Re-direction not needed. Code of Conduct is important

[2020-02-02 14:08] shubhank-saxena opened #7 "Favicon And Ttitle Change"
Favicon of the page should be standard DSC Logo and Title should be changed to DSC TIET from React App

[2020-02-02 14:08] kush-daga commented on #5
Done

[2020-02-02 14:10] kush-daga commented on #6
I guess it can be in both places? since navigating to team pages fro other sections can still be possible via navbar

[2020-02-02 14:13] shubhank-saxena opened #8 "Addition of Footbar"
A footbar should be placed on the website which should be something like this -
![Screenshot from 2020-02-02 19-41-56](https://user-images.githubusercontent.com/29003047/73609494-3f074800-45f4-11ea-9027-83163ddc4879.png)

[2020-02-02 14:14] shubhank-saxena commented on #6
Yes. But given that our page is quite simple to navigate I think we can have just one. Rest, the team can have a discussion on this!

[2020-02-02 14:14] kush-daga opened #9 "Enhance Loading time of Images"
Images in the gallery section currently take a lot of time to be loaded, fix it.

[2020-02-02 14:17] jsparmani commented on #5
@kush-daga I guess the linking is still left on the main home page button.

[2020-02-02 14:18] kush-daga commented on #5
Its working @jsparmani

[2020-02-02 14:19] shubhank-saxena opened #10 "Full width Map segment"
A full width Map segment, pointing to the location of our college. API keys needed and full integration. This segment should be kept above the Connect with us segment

[2020-02-02 14:19] kush-daga commented on #5
Where is the issue?

[2020-02-02 14:20] jsparmani commented on #5
![image](https://user-images.githubusercontent.com/41769747/73609587-3ebb7c80-45f5-11ea-899e-91fae9e4dce4.png)
On this button

[2020-02-02 14:24] jsparmani opened #12 "UI Correction bottom segment social links"
![image](https://user-images.githubusercontent.com/41769747/73609637-b7bad400-45f5-11ea-92d1-f03e08bef90d.png)
The placement of the bottom segment of social links changes on redirection to the home page back.
This is when it first opens

[2020-02-02 14:25] jsparmani commented on #12
![image](https://user-images.githubusercontent.com/41769747/73609650-e042ce00-45f5-11ea-91ce-3d0437dbb178.png)
This is after navigating back to it.

[2020-02-02 14:25] kush-daga commented on #11
Check out latest commit sir...

[2020-02-02 14:26] shubhank-saxena commented on #11
Oops! Sorry. Refer the commit number here. After that will close the issue!

[2020-02-02 14:27] jsparmani commented on #11
@kush-daga That's working great!

[2020-02-02 14:28] kush-daga commented on #11
Open the netlify version on mobile and check please..
[Commit URL](https://github.com/developer-student-club-thapar/officialWebsite/commit/cdf3f76fd6a4af86995048f1d5bc382b1c0923dc)

[2020-02-02 14:30] kush-daga commented on #11
@jsparmani Thanks
@shubhank-saxena Not closing this issue, as we still need to create a responsive version..this is just a workaround!

[2020-02-02 14:33] kush-daga commented on #12
Its linked to #2 somehow!

[2020-02-02 14:42] shubhank-saxena opened #14 "Addition of new route - Resources"
This route will be used to share all the resources which we as programmer refer to. This page should have listings of Youtubers, blogs, websites, tools.
Refer to this -
https://dschit.netlify.com/resources.html

[2020-02-02 14:43] shubhank-saxena commented on #11
Okay!

[2020-02-02 14:45] shubhank-saxena opened #15 "Website Loader"
Website Loader should be like Action On Google invocation!
(The four dots sine-motion

[2020-02-02 14:47] shubhank-saxena commented on #5
@jsparmani remove it from the navbar!

[2020-02-02 14:48] kush-daga commented on #5
Ugh lol ok

[2020-02-02 14:50] shubhank-saxena opened #16 "Documentation of the website"
This is an open source project.
So we need to write a documentation explaining the following -
1. Entire structure of the website
2. Technologies used
3. How to fork and develop (so that this website/project can be used by other communities). Make sure they do give due credits.
4. How to deploy

[2020-02-02 14:55] shubhank-saxena commented on #5
XD

[2020-02-02 14:58] shubhank-saxena opened #17 "Dark Mode"
A toggle should be there which should switch the website into dark mode! I mean it's a boon for programmers!

[2020-02-03 06:56] jsparmani commented on #5
Issue resolved in 8c0a8b567c70a8383219c36debd4fefcf965ec6a.
Closing now.

[2020-02-03 06:59] jsparmani opened #18 "Sticky Navbar"
The navbar can we made sticky so that scrolling down does not hamper the navigation to other pages.

[2020-02-03 07:07] shubhank-saxena commented on #18
We did try it once. Wasn't looking very well. Baaki ek baar give it a whirl with maybe opacity change

[2020-02-03 07:13] kush-daga commented on #18
I agree with @shubhank-saxena

[2020-02-03 10:08] jsparmani commented on #4
Changed the about button to code of conduct as about already present in navbar.
4b92140b58967bb20a8fe40256986117585c4aba
@shubhank-saxena confirm once!

[2020-02-03 11:01] jsparmani commented on #3
Resolved in 6ca4b2cc73387ceac988cf1e7009aeb30d00dff3
The achievements page data is now served from the backend.
@kush-daga Checkout how to place the members in achievement card....currently there is no UI for it.

[2020-02-03 11:01] #3 closed

[2020-02-04 05:39] #4 closed

[2020-02-06 15:22] jsparmani opened #20 "Change meta data"
The meta data that appears whenever a link to the website is shared needs to be changed.

[2020-02-06 20:21] jaskeerat789 commented on #7
done bro...

[2020-02-06 20:21] #7 closed

[2020-02-06 20:21] jaskeerat789 commented on #20
fixed

[2020-02-06 20:21] #20 closed

[2020-02-07 18:26] #9 closed

[2020-02-07 18:32] kush-daga commented on #9
Done to some extent, will open a new issue for further improving

[2020-02-07 18:51] #6 closed

[2020-02-07 18:51] #2 closed

[2020-02-07 19:23] jsparmani commented on #24
solved in c8b329a81a895d84511fd6d54ff716fb905e63f2

[2020-02-07 19:40] #18 closed

[2020-02-07 19:49] #12 closed

[2020-02-07 19:49] kush-daga commented on #12
Done with contact form correction #2

[2020-02-07 19:58] #8 closed

[2020-02-08 06:30] kush-daga commented on #28
Haan bhaiya, 2px or 4px what do you say?

[2020-02-08 06:40] jsparmani commented on #28
solved in 7d797a462f50a307aa797555f0c57a94e09f82de

[2020-02-08 09:29] kush-daga commented on #33
The ui actually is consistent, if you notice we have use definitive styling, it's just not material ui, since react and material ui are a bit cumbersome to manage and customize as well

[2020-02-08 09:30] kush-daga commented on #33
If you feel something isn't consistent please comment that we will improve that part @shubhank-saxena

[2020-02-08 09:31] kush-daga commented on #30
Not really i guess

[2020-02-08 10:02] shubhank-saxena commented on #33
Okay🤙

[2020-02-08 10:15] kush-daga commented on #19
The underline is added just improving it further is required

[2020-02-08 10:38] jsparmani commented on #27
web team connected to backend

[2020-02-10 06:25] Rahulgoy opened #36 "Hover effect"
Hover effect could be added to the buttons.

[2020-02-17 18:48] jaskeerat789 opened #37 "join slack button opens a new page with a link"
when `join slack` button is clicked it opens a page with a link to the slack page. It would be better to open a new tab to the slack page when the `join slack button` is press

[2020-02-17 18:55] jsparmani commented on #37
Solved in 08ee44b7f15ab9079b0dcd8984e4d0f0271f5aa6

[2020-02-17 18:57] #37 closed

[2020-02-17 19:02] jsparmani commented on #36
@Rahulgoy It would be great if you try adding the effect. Go on work on it and send us a PR. We would be happy to make it a part of our website.

[2020-03-15 07:37] aniketbiswas21 opened #39 "Team Page Issue"
All the members listed as Jaskeerat Singh Randhawa in IOT team and various other places.
![dscissue](https://user-images.githubusercontent.com/51146347/76697478-c2b95780-66bd-11ea-99c0-028483367c45.png)

[2020-04-04 14:30] jsparmani opened #5 "Form for Project Model"
Create a form that adds a project to the database. Please don't use ModelForms, we require a custom form. Also, use templating to create a route to view projects.

[2020-04-05 09:52] shubhank-saxena commented on #36
@Rahulgoy any progress on this?

[2020-04-05 09:54] shubhank-saxena commented on #39
@aniketbiswas21 thank you for this issue. Currently, our website is in development, so to check for the biggest possible layouts, we used Jaskeerat's name everywhere!

[2020-04-05 09:54] #39 closed

[2020-04-07 11:41] #36 closed

[2020-04-12 11:27] shubhank-saxena opened #11 "Add markdownlint in pre-commit"
Currently, we don't have any markdown lint checker in pre-commit file. This will cause any bad-formatted readme file to land up here.

[2020-04-12 11:41] shubhank-saxena opened #13 "Fix environments to show consistent lint check across"
Right now you see that Travis tests of linting is failing. But it must be passing local systems as my pre-commit is allwoing.
Fix it

[2020-04-12 14:44] jsparmani commented on #13
@shubhank-saxena i feel using tox to carry out python linting tests could work. Let me know if shall I proceed with this soln

[2020-04-12 14:46] shubhank-saxena commented on #13
Yes. A good approach. But not very sure how this will change and effect the difference between the environments

[2020-04-12 14:48] jsparmani commented on #13
Okay, i will proceed with a few options

[2020-04-13 08:11] #13 closed, assigned to nobody

[2020-04-14 08:04] AroraShreshth opened #19 "pyc Cache File are for System only shouldn't be pushed to repo"
The Current .gitignore isn't updated for Django updations

[2020-04-14 10:48] shubhank-saxena opened #21 "Full width Map segment"
A full width Map segment, pointing to the location of our college. API keys needed and full integration. This segment should be kept above the Connect with us segment

[2020-04-14 10:50] shubhank-saxena opened #22 "Mobile Friendliness"
We need to make it mobile-friendly. Need to filter down a lot of information!

[2020-04-14 10:51] shubhank-saxena opened #23 "Addition of new model - Resources"
This model will be used to share all the resources which we as programmer refer to. This page should have listings of Youtubers, blogs, websites, tools.
Refer to this -
https://dschit.netlify.com/resources.html

[2020-04-14 10:52] shubhank-saxena opened #24 "Website loader"
Website Loader should be like Action On Google invocation!
(The four dots sine-motion

[2020-04-14 10:53] shubhank-saxena opened #25 "Documentation of the website"
This is an open source project.
So we need to write a documentation explaining the following -

1. Entire structure of the website
2. Technologies used
3. How to fork and develop (so that this website/project can be used by other communities). Make sure they do give due credits.
4. How to deploy

[2020-04-14 10:54] shubhank-saxena opened #26 "Creation of CONTRIBUTION.md"
Make sure we add contribution segments for both frontend and backend

[2020-04-14 10:54] shubhank-saxena opened #27 "Dark Mode Toggle"
A toggle should be there which should switch the website into dark mode! I mean it's a boon for programmers!

[2020-04-14 10:55] shubhank-saxena commented on #19
Is this resolved?

[2020-04-14 11:09] shubhank-saxena opened #28 "Material UI Theming"
The website needs a definite theme layout, which shall be extended on the entire website.
Suggestion - Use defined theming libraries instead of programming your UI from scratch!
Suggested Theme - Material UI

[2020-04-14 11:13] shubhank-saxena opened #29 "Remove Hardware and add Blockchain"
Remove Hardware prototyping team and add Blockchain as team!

[2020-04-14 11:15] shubhank-saxena commented on #27
Is this done? Or any further works are needed? If so, mention it as a new issue on official web repo @jsparmani

[2020-04-14 11:16] shubhank-saxena opened #30 "Convert all png images to webp in home page for faster loading"
We need to reduce time of load as well as compute resource usage!

[2020-04-14 11:19] shubhank-saxena opened #31 "Refactor .gitignore"
There is a lot of bloatware generated due to custom templating used.
Refactor to only the files which are actually needed!

[2020-04-14 11:20] jsparmani commented on #27
Further need to be done, but no team data

[2020-04-14 11:22] shubhank-saxena commented on #27
Okay. Raise this as an issue in new repo, will work on this in coming week!

[2020-04-14 11:25] shubhank-saxena opened #32 "Move package.json to main repo"
For our better CI/CD pipelines, the project should contain setup files in the root of the directory. This has been done for backend. Now, it needs to be done for frontend too!

[2020-04-14 11:27] shubhank-saxena opened #33 "Frontend tests addition in Travis CI"
Add frontend application test in Travis CI to check the integrity of the install

[2020-04-15 08:49] #32 closed, assigned to kush-daga

[2020-04-28 19:09] shubhank-saxena opened #41 "Events Dates"
Add dates too on the cards! (They are present in the backend model)

[2020-04-28 19:10] shubhank-saxena opened #42 "Resources Page"
Add a Resources Page

[2020-04-28 19:12] shubhank-saxena opened #43 "Update Team Pages"
A lot of members have filled the registration now. Kindly update the page!

[2020-04-28 19:12] #22 closed, assigned to nobody

[2020-04-29 11:41] shubhank-saxena commented on #41
Also, the filter chronology on the basis of date of events!

[2020-05-07 20:28] shubhank-saxena opened #49 "Navbar Fix"
We need a full-length navbar with content inside contained.

[2020-05-07 21:30] shubhank-saxena opened #50 "Change of home page images and sizing"
Some images need a change. Probably can be used from DSC collection

[2020-05-07 21:32] shubhank-saxena opened #51 "Loader missing on the homepage!"
Kindly fix this issue!

[2020-05-07 21:38] #21 closed, assigned to nobody

[2020-05-07 21:38] #24 closed, assigned to nobody

[2020-05-07 21:38] #28 closed, assigned to nobody

[2020-05-07 21:38] #29 closed, assigned to nobody

[2020-05-08 18:15] shubhank-saxena opened #54 "Package.json should contain node and yarn version"
We need to pinpoint the exact version so that it is compatible across a standard version

[2020-05-08 18:57] #54 closed, assigned to jsparmani

[2020-05-08 19:46] shubhank-saxena opened #56 "Add smoke test for React"
Add the smoke test and update travis.yml with
```- yarn test ```

[2020-05-08 19:51] #33 closed, assigned to shubhank-saxena

[2020-05-08 19:56] shubhank-saxena opened #57 "Delete Designs folder"
The designs are reduntant now!

[2020-05-08 20:02] shubhank-saxena opened #58 "Add travis build button in readme"
It will tell us the current build status on Travis
This should be added in the README.md

[2020-05-08 20:13] shubhank-saxena opened #59 "Configure all contributors bot"
Configure all-contributors bot to acknowledge our contributors!
https://probot.github.io/apps/all-contributors/

[2020-05-09 16:26] #57 closed, assigned to nobody

[2020-05-09 18:54] animesh-007 commented on #58
@shubhank-saxena I guess we should close this issue now.

[2020-05-09 18:58] #58 closed, assigned to nobody

[2020-05-09 18:58] shubhank-saxena commented on #58
Strange! I did added the triage tag! Anyway, Thank you for doing this!

[2020-05-09 19:36] shubhank-saxena opened #65 "Add join us on Slack button in Readme"
This is the link that is to be used! Make sure it's adjacent to the builds button!
https://dscthapar-gspatiala.slack.com/join/shared_invite/enQtNzU2MzA2MjcxNzkyLTkwNDRiNWMzYjUzYjNjYjM0M2JhMDgwOTI3MGQwYWU1NzNlNGMxZGVhNzk0MGZiYTI5YzgwZDhiMTk1MjE4M2M

[2020-05-09 19:47] shubhank-saxena opened #66 "Shifting to poetry"
We already have an existing pyproject.toml file in your codebase. We should ideally shift to poetry instead of conventional requirements.txt installation system!

[2020-05-10 08:13] #65 closed, assigned to nobody

[2020-05-10 09:30] animesh-007 opened #69 "Update Readme.md"
update readme.md by adding installation steps, introduction and all.

[2020-05-10 11:28] animesh-007 commented on #66
https://github.com/python-poetry/poetry
@shubhank-saxena I was reading this but I was not able to figure out which files I should change to use pyproject.toml.

[2020-05-10 11:29] animesh-007 commented on #59
@shubhank-saxena This issue is still open.😅

[2020-05-10 12:02] shubhank-saxena opened #75 "Welcome bot configuration"
https://probot.github.io/apps/welcome/
This will help us to welcome new contributors in a better way!
Do ask about the messages that are to be put in the configuration file!

[2020-05-10 12:23] #59 closed, assigned to nobody

[2020-05-10 12:28] shubhank-saxena commented on #66
https://stackoverflow.com/questions/60251799/how-to-start-a-new-django-project-using-poetry

[2020-05-10 13:04] animesh-007 commented on #66
So I think we need to make changes in contribution.md and remove requirement.txt

[2020-05-10 13:18] shubhank-saxena commented on #66
Yes!

[2020-05-10 13:36] animesh-007 commented on #66
Okay I will try to do that with readme.me one

[2020-05-10 18:30] animesh-007 commented on #66
<img width="694" alt="Screen Shot 2020-05-10 at 11 55 21 PM" src="https://user-images.githubusercontent.com/53366877/81507278-db3e9a80-9319-11ea-9a70-bdbd6da9d067.png">

I have some doubt
Will all these steps be made on the route directory? And is there any changes with the names of the files?

[2020-05-10 18:43] animesh-007 commented on #25
@shubhank-saxena  I guess this issue is now solved by updated readme.md Only thing missing in readme is technologies used.

[2020-05-10 18:44] shubhank-saxena commented on #66
I don't think there is no need of changing file names. We already have a pyproject.toml

[2020-05-10 18:50] animesh-007 commented on #66
I was actually asking for djangodemo  and django-admin.py😅

[2020-05-10 19:50] shubhank-saxena commented on #66
I am not sure about the instructions. This already has implemented poetry. Kindly refer to this
https://github.com/developer-student-club-thapar/buying_selling_devops/blob/master/CONTRIBUTION.md

[2020-05-11 07:18] shubhank-saxena opened #78 "Shift the static assets on Amazon S3 Bucket"
@jsparmani can you help any interested reviewer with this? If no one comes around, would like you to take it up. Also, share the link of the article in the comment here!

[2020-05-11 07:39] jsparmani commented on #78
Yupp, would take it up if nobody comes up

[2020-05-11 07:40] jsparmani commented on #78
This [link](https://testdriven.io/blog/storing-django-static-and-media-files-on-amazon-s3/) needs to be followed

[2020-05-11 07:44] #78 closed, assigned to nobody

[2020-05-11 12:03] animesh-007 commented on #19
@AroraShreshth  If this issue is resolved should we close this issue now?

[2020-05-11 13:40] #69 closed, assigned to animesh-007

[2020-05-11 13:46] AroraShreshth commented on #19
Your choice honestly 😃. Things are working without that tok

[2020-05-12 07:34] animesh-007 commented on #75
I tried to go through the link but I was unable to find anything to do any configuration.
Can you provide any link?

[2020-05-12 07:35] animesh-007 commented on #19
@shubhank-saxena Can we close this issue for now?

[2020-05-12 07:39] shubhank-saxena commented on #19
Yes!

[2020-05-12 07:40] #19 closed, assigned to AroraShreshth

[2020-05-12 07:43] shubhank-saxena commented on #75
There is instructions below in the same link. Check it out!
![Screenshot from 2020-05-12 13-12-55](https://user-images.githubusercontent.com/29003047/81653381-5a36ee80-9452-11ea-8800-c0a8a5a4c5b4.png)

[2020-05-12 07:45] shubhank-saxena opened #79 "Setup static files in GCP Bucket"
Really need to give a thought on this! We intent to shift all our static assets to GCP bucket!

[2020-05-12 18:15] jsparmani commented on #43
@shubhank-saxena The page is connected to backend, will directly reflect changes according to the backend.

[2020-05-12 18:15] #43 closed, assigned to nobody

[2020-05-12 18:18] jsparmani commented on #75
@shubhank-saxena There's also a [github action](https://github.com/actions/starter-workflows/blob/master/automation/greetings.yml) available for the same. Check this out, we can integrate this as it would be easier.

[2020-05-12 18:22] jsparmani commented on #75
Okay, I think a PR is on it's way, let's keep it this way

[2020-05-12 19:24] #75 closed, assigned to nobody

[2020-05-12 19:24] shubhank-saxena commented on #75
This works on that basis only!

[2020-05-13 11:34] jsparmani opened #82 "Profile links on Team page should open in new tab"
The profile links like github, etc. open in the same tab. They should be opening in a new tab.

[2020-05-14 13:13] jsparmani commented on #79
These are a few resources:
- [Medium Article](https://medium.com/@umeshsaruk/upload-to-google-cloud-storage-using-django-storages-72ddec2f0d05)
- [django-storages Documentation](https://django-storages.readthedocs.io/en/latest/backends/gcloud.html)

[2020-05-14 20:48] shubhank-saxena opened #100 "Addition of Python and Node version badges in Readme"
Looks cool! Dynamically should pick up!

[2020-05-15 07:37] kush-daga opened #102 "Fix Image of Meet the team"
The image is stretched and that is not right, make it such that it is contained in the height and width while maintaining the aspect ratio. Shubhank Bhaiya's Image

[2020-05-15 07:40] kush-daga commented on #82
Also links of some people dont work, for example our LEAD  -_-

[2020-05-15 07:41] kush-daga commented on #42
What exactly do we need there @shubhank-saxena

[2020-05-15 07:42] kush-daga opened #104 "Replace Lorem Ipsum with real text"
Replace Lorem ipsum on the webpage with real text, our website  is now public. Events page and Projects page

[2020-05-15 07:42] kush-daga commented on #102
Sahi h

[2020-05-15 08:25] shubhank-saxena commented on #42
A similar layout to other pages. I think @aniketbiswas21 is on it 🤔

[2020-05-15 12:33] jsparmani opened #106 "fix home page overflow"
![image](https://user-images.githubusercontent.com/41769747/82050762-56b39980-96d6-11ea-8441-109987a033e8.png)

[2020-05-15 13:14] jsparmani opened #108 "add netlify badge to README"

[2020-05-15 13:39] aniketbiswas21 commented on #102
It has been used as a placeholder. We need better images for home page.

[2020-05-15 15:15] kush-daga commented on #102
Still never give them height and widht on your own, only give height or only width to maintain the aspect ratio, and if giving both then make sure its cover or contain

[2020-05-15 15:31] aniketbiswas21 commented on #102
I didn't understand the last point the cover and contain one.

[2020-05-15 15:35] kush-daga commented on #102
Ill show in the commit
object-fit: contain
css property which will solve this issur

[2020-05-17 08:06] shubhank-saxena opened #112 "Change the Medium URL on homepage"
We now have new publication link
https://medium.com/developer-student-clubs-tiet

[2020-05-18 07:27] #112 closed, assigned to nobody

[2020-05-18 10:33] #108 closed, assigned to kush-daga

[2020-05-18 11:42] shubhank-saxena opened #114 "Link the navbar blog link to our Medium"
Need to redirect to medium for the same!

[2020-05-24 07:04] #66 closed, assigned to nobody

[2020-05-25 06:38] #114 closed, assigned to nobody

[2020-05-26 09:53] #49 closed, assigned to nobody

[2020-05-27 16:05] #82 closed, assigned to nobody

[2020-05-29 18:39] jsparmani commented on #27
Reference: https://medium.com/heuristics/react-dark-mode-switch-in-material-ui-dashboard-82fcf1cded66

[2020-06-03 08:04] jsparmani opened #161 "Setup Backend Deployment (CD)"

[2020-06-05 18:45] shubhank-saxena opened #164 "Poetry Installation Issue"
**Describe the bug**
The current Poetry installation wasn't correct

[2020-06-05 18:46] shubhank-saxena opened #165 "Added Tag meta for resources"
**Is your feature request related to a problem? Please describe.**
It's better to fetch resources on the basis of meta tags!

[2020-06-05 18:49] #164 closed, assigned to nobody

[2020-06-05 18:49] #165 closed, assigned to nobody

[2020-06-07 17:18] jsparmani commented on #79
Done

[2020-06-07 17:18] #79 closed, assigned to nobody

[2020-08-17 06:39] #161 closed, assigned to nobody

[2020-08-17 06:40] #31 closed, assigned to nobody

[2020-08-17 06:40] #26 closed, assigned to nobody

[2020-08-17 06:40] #11 closed, assigned to nobody

[2020-09-08 10:50] aniketbiswas21 commented on #104
Fixed 😄

[2020-09-08 10:50] #104 closed, assigned to nobody

[2020-09-11 15:52] jsparmani opened #245 "Discord Badge"
Replace the slack badge with the discord bade in `README.md`

[2020-09-11 16:04] jsparmani opened #246 "Migrate to pipenv"
Use `pipenv` for dependency management instead of `poetry`.
There are two phases for the change
- Changes to the repo (@Saurav-Shrivastav)
- Changes to the deployment pipeline and server settings (To be done by @jsparmani )

[2020-09-11 16:51] shubhank-saxena opened #247 "Discord Server Invite link Button"
Add Discord Button adjacent to the Slack channel. Make sure it's indented towards the right side of the page

[2020-09-11 16:52] #245 closed, assigned to animesh-007

[2020-09-12 14:27] jsparmani commented on #246
@Saurav-Shrivastav Close the issue after the documentation changes

[2020-09-13 06:50] jsparmani opened #252 "Archive Team Feature"
Providing function to archive teams year wise like 2019-20, 2020-21 and so on.
Needs backend as well as UI changes.

@Saurav-Shrivastav and @aniketbiswas21 to head for these changes along with the team.

[2020-09-13 06:51] jsparmani opened #253 "Team Page UI Change"
Change Teams page to Members page instead with two sections:
- Leads and
- Core Members

[2020-09-13 07:22] #246 closed, assigned to jsparmani, Saurav-Shrivastav

[2020-09-13 07:22] jsparmani commented on #247
Fixed in #250

[2020-09-13 07:25] shubhank-saxena commented on #247
@jsparmani I meant it on the website

[2020-09-13 16:31] #247 closed, assigned to animesh-007

[2020-09-13 16:31] #253 closed, assigned to aniketbiswas21

[2020-09-13 16:39] shubhank-saxena opened #255 "Remove Chatbot"
Over-engineered feature. Don't need it imo. @jsparmani your views?

[2020-09-13 16:41] jsparmani commented on #255
Yeah, @shubhank-saxena I was also planning the same. Not serving any purpose as of now. Can be removed.

[2020-09-13 16:44] jsparmani commented on #255
Whoever is working on this, please refer to the following [link](https://github.com/developer-student-club-thapar/officialWebsite/commit/a1f5facdb72e33dff7259ba6be7a8faf1ea563f1) diff for the appropriate changes.

[2020-09-15 14:06] jsparmani opened #260 "Alignment fix"
![image](https://user-images.githubusercontent.com/41769747/93220848-aab8b280-f78a-11ea-896e-835ffaa2095e.png)
The alignment of the above 3 sections isn't centered.

[2020-09-15 14:22] aniketbiswas21 opened #261 "Better Images and Illustrations for Home Page"
**Is your feature request related to a problem? Please describe.**
The current illustrations used on the home page looks a bit bad. Better images can be used.

**Describe the solution you'd like**
It would be nice to have some interesting illustrations on the home page.

**Describe alternatives you've considered**
High-quality illustrations.

![image](https://user-images.githubusercontent.com/5114

[2020-09-15 15:17] aniketbiswas21 opened #262 "Remove Green background colour on cards after focus throughout the website"

[2020-09-18 06:28] aniketbiswas21 commented on #106
Fixed :smile:

[2020-09-18 06:28] #106 closed, assigned to kush-daga, DivjyotSingh

[2020-09-21 13:28] divya16-bit opened #271 "reflected xss vulnerability"
**Describe the bug**
A clear and concise description of what the bug is.
the payloads entered in the input of chatbot field are reflected on the site.
**To Reproduce**
Steps to reproduce the behavior:

1. Go to ' the chatbot input field'
2. Enter  '<script>alert('XSS)</script>'
3. Press enter.
4. See error being reflected.

screenshot:
![image](https://user-images.githubusercontent.com/56612080/93

[2020-09-21 14:52] animesh-007 commented on #271
I think we are planning to remove the chatbot from the site you can see the issue no #255.

[2020-09-22 03:46] aniketbiswas21 commented on #260
Fixed :smile:

[2020-09-22 03:46] #260 closed, assigned to DivjyotSingh

[2020-09-23 11:41] jsparmani commented on #271
Yeah, @divya16-bit thanks for bringing this to notice. We are aware of security issues in this bot and have planned to remove it as stated in #255

[2020-09-23 11:44] jsparmani commented on #255
@aniketbiswas21 @animesh-007 Please consider this issue urgent and take actions to remove it ASAP.

[2020-09-23 13:51] jaskeerat789 commented on #271
But i think we should go on and patch this vulnerability as the same bot is being used in [Thapar.edu](http://thapar.edu). We can submit them the report mentioning the vulnerability and the patch.
@jsparmani @divya16-bit

[2020-09-23 13:54] jsparmani commented on #271
Yeah, sure we can report this further along with the patch to fix this.
I think @paras55 and the team at AnalyticWare is handling the bot experience and they can look into this.

[2020-09-23 14:11] paras55 commented on #271
The bug was already brought in notice to us by official people of Thapar and we have taken measures to prevent it .
However it can cause no harm and we have checked it ourselves by trying various things.

[2020-09-23 14:14] paras55 commented on #271
Thank you for checking this and letting us know this vulnerability . We are on it and will soon stop this too.
However , no harm in any way is caused to the website on which the chatbot is deployed onto.

[2020-09-23 14:15] paras55 commented on #255
Sure , Can be removed.
Can we used further if there is a need :-)

[2020-09-23 14:59] divya16-bit commented on #271
Yes,it's not harmful but still wanted you guys to know about it and correct
it.That's all.
Thanks for the responses!

On Wed, 23 Sep 2020, 19:44 paras55, <notifications@github.com> wrote:

[2020-09-23 15:23] paras55 commented on #271
Thank you so much :)
**This vulnerability has been removed from Thapar.edu as well as a pull request has been opened for the DSC Bot too with the updated version. Please let us know in case there are any more vulnerabilities.  **

[2020-09-23 15:43] #271 closed, assigned to nobody

[2020-09-23 15:51] aniketbiswas21 commented on #255
@jsparmani Working on it right away.

[2020-09-23 16:16] #255 closed, assigned to nobody

[2020-09-23 16:19] #262 closed, assigned to aniketbiswas21

[2020-09-26 13:40] jaskeerat789 opened #279 "Remove "Join us on Slack" Button"
**Is your feature request related to a problem? Please describe.**
Need to remove the `Join us on Slack` button form the home page.
![image](https://user-images.githubusercontent.com/38110126/94342025-d9a51300-002b-11eb-9251-bf9501e654cd.png)

**Describe alternatives you've considered**
No Alternative

[2020-09-26 13:43] jaskeerat789 commented on #252
Any updates on this? @jsparmani  are we planing to make a admin control panel for this?

[2020-09-26 13:45] jaskeerat789 commented on #27
@Priya2123  any updates on this?

[2020-09-26 13:45] jsparmani commented on #252
A PR on this will be merged by today if everything goes well

[2020-09-26 13:46] jaskeerat789 commented on #252
@jsparmani  can you explain what exactly we are doing in this?

[2020-09-26 13:50] jsparmani commented on #252
As written in the description,  it will help us to maintain and display teams and leads academic year wise
@jaskeerat789

[2020-09-26 14:30] jaskeerat789 opened #280 "Click on nav-bar logo and name to go back to home page."
**Is your feature request related to a problem? Please describe.**
click on nav-bar logo and name to go back to home page. One should be able to go back `/#` when he clicks on the logo and name in the nav-bar, irrespective of the fact that he is on which page.

**Describe the solution you'd like**
a simple <a> tag could work but i would prefer using the react-router implementation.

[2020-09-26 14:35] crs2here commented on #279
I can pick this up

[2020-09-26 14:51] crs2here commented on #279
do you want the text above removed as well?

[2020-09-26 15:25] sandeepbanoula commented on #280
I will give it a try.

[2020-09-26 15:55] crs2here commented on #279
I'm using python3.8 and I'm getting a pre commit errors. Like this

[code]

[2020-09-26 17:14] jaskeerat789 commented on #279
@jsparmani pls look into this pre commit error

[2020-09-26 17:15] jaskeerat789 commented on #279
@crs2here make a pr in October, this issues is for hacktoberfest

[2020-09-26 17:19] jaskeerat789 commented on #280
@sandeepbanoula this issue is tagged as hacktoberfest, make a pr in october to be a part of it.... mean while register for our event [here](https://organize.mlh.io/participants/events/4053-hacktoberfest-with-dsc-tiet-patiala)

[2020-09-26 17:19] sandeepbanoula commented on #280
I have implemented this but on hover, this style was applied. Can I remove it?
![Annotation 2020-09-26 224239](https://user-images.githubusercontent.com/65235940/94346352-c1dc8780-0049-11eb-88ba-a38a2fba235f.png)

[2020-09-26 17:22] sandeepbanoula commented on #280
Okay. I think it was started because my Hacktoberfest dashboard was showing a 0/4 pull request. I will make a PR in October. Thanks and also I am a first timer so please guide me.

[2020-09-26 17:29] jaskeerat789 opened #281 "no action on clicking the cards"
**Describe the bug**
The card at home page are clickable but they do nothing... we should attach routing to them as well.

**To Reproduce**
1. go to the [website](https://dsctiet.tech/#/)
2. scroll down as shown in this [image](https://user-images.githubusercontent.com/38110126/94346665-ca35c200-004b-11eb-9fa7-3457a251009d.png)
3. click on the cards shown on the page.

**Expected behavior**
show t

[2020-09-26 17:39] ShubhamSood1406 commented on #281
Can I work on this?

[2020-09-26 18:02] rohan2734 commented on #280
Hi is this issue closed or assigned to someone? or else i would like to work on it.

[2020-09-26 18:18] rohan2734 commented on #279
@jaskeerat789   Hey i would like to work on this issue can you assign me this issue

[2020-09-26 19:02] Jeremiahiro commented on #281
I can get no this

[2020-09-26 19:04] Jeremiahiro commented on #261
Can you add a description to this?

[2020-09-27 00:50] swastikchugh commented on #281
Hey @jaskeerat789, I would like to fix this.

[2020-09-27 05:00] jaskeerat789 commented on #281
Guys these issues are marked as hacktoberfest and will be available to solve from October. Meanwhile you can register for hacktoberfest at [this link](http://dsctiet.xyz/hacktoberfest).

[2020-09-27 08:42] ShubhamSood1406 commented on #281
@jaskeerat789 I already registered on that, so can I work on this?

[2020-09-27 09:49] jsparmani commented on #252
Done

[2020-09-27 09:49] #252 closed, assigned to aniketbiswas21, Saurav-Shrivastav, divanshurox

[2020-09-27 11:19] ShubhamSood1406 commented on #281
@jaskeerat789 I had already registered on the Hacktoberfest, please assign it to me so that I can start working on this issue.

[2020-09-27 12:34] #27 closed, assigned to Priya2123

[2020-09-27 14:18] crs2here commented on #279
@jaskeerat789 sorry I got too excited about hacktober I'll wait till then. I also want to mention this project is organized very well.

[2020-09-27 14:22] crs2here commented on #279
@jaskeerat789 @jsparmani I figured out how to commit by following this article https://opensource.com/article/19/5/python-3-default-mac. I had two versions of python on my system so I had to change the default to 3.8. I'll submit the PR in October. Thank you for your help

[2020-09-27 14:28] jsparmani commented on #279
That's great @crs2here 🚀

[2020-09-28 06:52] skamp91 commented on #281
Hey :) Is it possible that I also work on this Issue?

GoodRegards :)

[2020-09-28 13:50] ShubhamSood1406 commented on #281
@jaskeerat789 At least assign this issue to someone.

[2020-09-28 16:41] akgupta-47 opened #289 "Typo's at the the end of readme file."
There are typo's at the end of `README.md` file.

[2020-09-29 05:01] jsparmani opened #295 "Change User to a non-compulsory field in Member Model"
The user id presently a compulsory field. Change it to a non-compulsory one enabling us to create members without linking to a user in the backend.

[2020-09-29 05:04] jsparmani opened #296 "Add CSV import export to the Members Model"
The feature should allow us to create members by importing a csv from the admin panel itself. There are already many libraries which can help out with this.

[2020-09-29 09:18] #295 closed, assigned to nobody

[2020-09-29 09:24] jsparmani opened #298 "Fix CI Config Warnings"
![image](https://user-images.githubusercontent.com/41769747/94539932-80272900-0263-11eb-966d-fc9e8d739588.png)

There a few warnings in Travis CI regarding the config.
**Note:** These are only warnings and not errors with appropriate suggestion to solve them as well.

Please make changes accordingly.

[2020-09-29 09:26] #5 closed, assigned to nobody

[2020-09-29 09:31] jsparmani opened #299 "Minify Github repo/bundle size"
The repo bundle size on github is very large because of committing static and media files initially which are also being tracked by github history resulting in an overall 50MB size.

Help us reduce that without changing git history.

[2020-09-29 14:45] kboshold commented on #289
@akgupta-47 Does the PR contain all the types you meant. If not, which ones need to be added?

[2020-09-29 14:48] akgupta-47 commented on #289
There was one or two really small typing errors in the end of readme.md file

[2020-09-30 06:26] HarshitVerma001 commented on #296
I am not able to access the console to see the changes @jsparmani

[2020-09-30 06:27] HarshitVerma001 commented on #296
In the admin console, should I add my name to the database to access it?

[2020-09-30 06:39] jsparmani commented on #296
@HarshitVerma001 Viewing production data from your local setup of the project isn't possible. For experimenting you need to generate your own data.
Also, let me know if you are working on the issue and ETA, so that I assign it to you.

**Note:** One thing that needs to be figured out is how to accept images for members model from a csv
for eg. if its a link the system must be capable of downloadin

[2020-09-30 06:47] HarshitVerma001 commented on #296
Okay, you can assign it to me and I can work upon it.

[2020-09-30 06:49] jsparmani commented on #296
Okay, any ETA for this?

[2020-09-30 06:51] HarshitVerma001 commented on #296
I am learning side by side so 5th October if it is okay?

[2020-09-30 06:56] jsparmani commented on #296
Sure, go ahead. You can use this issue thread for any doubts and help as well.

[2020-09-30 07:56] Utkarshn10 commented on #289
@akgupta-47 I have fixed the typo at the end of the readme.md i.e(adding space between) contributers and specification and making a small change in the line after that i.e I changed  "Contributions of any kind welcome!" to "Contributions of any kind are welcomed!".

I am a beginner to Open-source therefore guide me and specify any other changes that should be done in the readme.md file.

[2020-09-30 10:42] #41 closed, assigned to bughunter9

[2020-09-30 10:50] mk-singhal commented on #100
Hi there,
I would like to work on it, please assign it to me.

[2020-09-30 16:18] bughunter9 commented on #299
https://docs.gitlab.com/ee/user/project/repository/reducing_the_repo_size_using_git.html
https://medium.com/@sangeethkumar.tvm.kpm/cleaning-up-a-git-repo-for-reducing-the-repository-size-d11fa496ba48
This might help :)

[2020-09-30 19:56] priyanshsaxena24 commented on #100
Hey, can i take this issue?.. @jaskeerat789 ....I am new to Open-Source Contribution and would love to start by contributing here.

[2020-09-30 20:01] priyanshsaxena24 commented on #25
Hey is this issue still open? @jaskeerat789 would love to contribute.

[2020-10-01 05:52] jaskeerat789 commented on #25
@deathzombie yes you can start working but make sure you register for hacktoberfest [here](http://dsctiet.xyz/hacktoberfest) since the issue is tagged as `hacktoberfest`

[2020-10-01 14:00] shivambhatia5432 commented on #279
Hey I tried solving this issue without conflicts at PR #305

[2020-10-01 15:02] karans5004 commented on #280
Hi @jaskeerat789 / admins,
I have fixed the issue, need to submit PR,
Pl assign the issue to me.
Thanks.

[2020-10-01 16:46] #289 closed, assigned to nobody

[2020-10-01 17:04] jaskeerat789 commented on #281
@ShubhamSood1406 sorry for being late but i had to wait till 1st of october. I am assigning this to you since you were the first one to reach out.

[2020-10-01 17:05] jaskeerat789 commented on #280
I am assigning this Task to @sandeepbanoula since he was the first one to reach. Hope to see a solution soon sandeep

[2020-10-01 17:08] jaskeerat789 commented on #279
@shivambhatia5432 thanks a lot for your efforts and the PR but we had to wait till October before we could assign the task to anyone. Since @crs2here reached us first, i am assigning him this task.

[2020-10-01 17:11] jaskeerat789 commented on #100
@deathzombie I am sorry but i have to assign this task to @mk-singhal  since he reached out first.

[2020-10-01 17:13] jaskeerat789 commented on #25
@shubhank-saxena @jsparmani Please provide the task which are unfinished in documentation. make a checklist so that we can keep adding and checking stuff accordingly.

[2020-10-01 17:16] jaskeerat789 commented on #261
@aniketbiswas21 Please provide a detailed description for contributors understanding.

[2020-10-01 17:30] shivambhatia5432 commented on #279
No issues man will my PR be considered in Hacktoberfest even after that?

[2020-10-01 17:36] jsparmani commented on #25
The documentation must have these topics:
- [ ] Full Repository structure, explaining the hierarchy if folders and clearly distinguishing on frontend and backend code
- [ ] Details on Tech Stack, Libraries Used with links to their documentation.
- [ ] Insight on How to Setup the Repo, already there in `CONTRIBUTING.md`, but must be mentioned distinctively.
- [ ] Guidelines on Pre-Commit and Travis

[2020-10-01 17:42] jsparmani commented on #279
Yeah, your PR is still open with us, so it will be considered.

Waiting for @crs2here to open a PR for the same otherwise you can work upon it further.

Thanks!

[2020-10-01 17:54] crs2here commented on #279
@jsparmani I will submit it now thank you

[2020-10-02 12:49] shubhank-saxena opened #311 "Appreciation"
:rocket:
:heart:
:+1:

![Hello World!](https://user-images.githubusercontent.com/29003047/94924789-cf778e80-04db-11eb-9177-8244d337f6e2.jpg)

[2020-10-02 17:38] mk-singhal commented on #100
Can you help me with the file (url/name) from where the badge should fetch data...

[2020-10-03 05:16] animesh-007 opened #313 "Change dark mode slider"
**Is your feature request related to a problem? Please describe.**
Currently, the Slider of the dark mode is too simple.
**Describe the solution you'd like**
Would like to have one like this [link](https://codepen.io/maximakymenko/pen/mdbpeXm)
**Describe alternatives you've considered**
Anything which is like in the provided link.

[2020-10-03 06:27] sandeepbanoula commented on #280
Thanks, @jaskeerat789 for assigning this issue to me. I have submitted a PR, guide me if any further changes are needed.

[2020-10-03 06:50] #280 closed, assigned to sandeepbanoula

[2020-10-03 06:52] #311 closed, assigned to nobody

[2020-10-03 07:02] deepankkartikey commented on #313
@shubhank-saxena @animesh-007
I would like to pick this up, please assign it to me.

[2020-10-03 07:09] shubhank-saxena commented on #313
Sure @deepank120896 . Go ahead!

[2020-10-03 14:19] #298 closed, assigned to nobody

[2020-10-03 14:26] jsparmani commented on #279
Done in #308

[2020-10-03 14:26] #279 closed, assigned to crs2here

[2020-10-03 15:40] raghavTinker commented on #100
can you assign this issue to me.

Thanks

[2020-10-03 16:11] Aashishkushwaha commented on #313
Hi @animesh-007  Can I work on this ? If yes, please assign this to me.

[2020-10-03 16:14] animesh-007 commented on #313
Ok sure. Since no PR is been raised until now.

[2020-10-03 17:39] bughunter9 commented on #30
There are only webp and jpeg format images on the home page , so does this issue requires conversion of jpeg to webp as well ??@shubhank-saxena  @jsparmani

[2020-10-03 17:49] bughunter9 commented on #23
@jsparmani  @shubhank-saxena  I would like to try this one :)

[2020-10-04 17:36] Red-0111 commented on #261
Please provide a description and I am interested in this topic so please assign
I will try my best

[2020-10-05 12:36] jsparmani commented on #296
Any updates to the work @HarshitVerma001?

[2020-10-05 15:47] animesh-007 commented on #313
Solved in #315.

[2020-10-05 15:47] #313 closed, assigned to Aashishkushwaha

[2020-10-05 15:59] animesh-007 opened #318 "Apply dark mode on map"
**Is your feature request related to a problem? Please describe.**
Currently, the map on the Home page remains in light mode even in dark mode.

**Describe the solution you'd like**
It would be nice to change into dark mode when dark mode is switched on.

**Describe alternatives you've considered**
Any solution which converts the map to a dark theme like in dark mode.

[2020-10-05 16:24] aniketbiswas21 commented on #261
@jaskeerat789 @Red-0111 @Jeremiahiro Updated 😄

[2020-10-05 19:04] bobluppes commented on #318
Hey, I can work on this if you assign it to me!

[2020-10-05 20:00] jagveer-loky commented on #318
I can give a helpful hands on this :)

[2020-10-06 03:47] animesh-007 commented on #318
Sure.

[2020-10-06 03:49] animesh-007 commented on #318
Sorry, @jagveer-loky. As @bobluppes asked first so I assigned him for now.

[2020-10-06 06:27] jagveer-loky commented on #318
No worries, I will seek another one. Keep in touch

On Tue, Oct 6, 2020, 7:49 AM Animesh Gupta <notifications@github.com> wrote:

[2020-10-06 15:51] #30 closed, assigned to nobody

[2020-10-06 17:33] animesh-007 commented on #318
@bobluppes are you working on this?

[2020-10-06 18:30] bobluppes commented on #318
Hey, @animesh-007. Sorry but I didn't see the assignment and am working on another project atm. Maybe @jagveer-loky still has time to look at this?

[2020-10-06 18:34] animesh-007 commented on #318
ok cool.

[2020-10-06 18:35] animesh-007 commented on #318
@jagveer-loky would you like to work on this?

[2020-10-07 05:53] jagveer-loky commented on #318
Sorry, i'd jumped on another one.

On Tue, Oct 6, 2020, 10:35 PM Animesh Gupta <notifications@github.com>
wrote:

[2020-10-07 16:39] jaskeerat789 commented on #261
Assigning it to @Jeremiahiro

[2020-10-07 16:41] jaskeerat789 commented on #100
the badges need to go into readme file on root of the project

[2020-10-08 14:04] bughunter9 commented on #100
@jaskeerat789 @shubhank-saxena  As a PR has not been merged till now , Can I also take on this one ??

[2020-10-08 14:33] mk-singhal commented on #100
Sorry, I'm bit busy and don't think would get enough time to complete it....

[2020-10-08 14:40] priyanshsaxena24 commented on #100
@jaskeerat789 by the order of preference, can I get this issue assigned?

[2020-10-08 20:13] bughunter9 commented on #296
@jsparmani  I was trying to solve this issue using these 2 resources :
https://stackoverflow.com/questions/18685223/how-to-export-django-model-data-into-csv-file
https://github.com/edcrewe/django-csvimport
But I am facing issues with the custom commands while importing the csv data back into the django models , and I preferred using the django-importcsv library over the django-adaptors one. Can yo

[2020-10-11 06:49] jsparmani commented on #318
Done in #325

[2020-10-11 06:49] #318 closed, assigned to nobody

[2020-10-11 06:49] jsparmani commented on #281
Done in #325

[2020-10-11 06:49] #281 closed, assigned to ShubhamSood1406

[2020-10-11 06:50] jsparmani commented on #100
Done in #328

[2020-10-11 06:50] #100 closed, assigned to nobody

[2020-10-12 06:54] jsparmani opened #333 "Improve Event Card"
**Is your feature request related to a problem? Please describe.**
Yeah, visibility of info on event card

**Describe the solution you'd like**
Needs to be more visually appealing and legible.

**Describe alternatives you've considered**
Anything good can be done

**Additional context**
![image](https://user-images.githubusercontent.com/41769747/95714453-df366600-0c85-11eb-87c4-1c4d4f8e8fca.png)

[2020-10-12 06:59] jsparmani opened #334 "Send Proposal Button on Sponsorship Card"
**Is your feature request related to a problem? Please describe.**
Yeah, the button is non functional.

**Describe the solution you'd like**
Link the button to send us a mail at dsc.tiet@gmail.com

**Describe alternatives you've considered**
No alternative.

**Additional context**
![image](https://user-images.githubusercontent.com/41769747/95714868-7ac7d680-0c86-11eb-8b68-fc8c73327b72.png)

[2020-10-12 07:00] NUMBART commented on #333
@jsparmani, I would like to work on this

[2020-10-12 07:02] jsparmani opened #335 "Correct Home Page Typo"
**Is your feature request related to a problem? Please describe.**
Incorrect Spelling. Minor changes

**Describe the solution you'd like**
Change the main home page text from "Developer Students Club" to "Developer Student Clubs" (Club should be plural and not Student)

**Describe alternatives you've considered**
N/A

**Additional context**
![image](https://user-images.githubusercontent.com/417697

[2020-10-12 07:12] jsparmani commented on #333
Sure, @NUMBART assigning it to you. Any ETA on this?

[2020-10-12 07:20] NUMBART commented on #333
I think I will be able to do this by 15th. This will be my first time. Wanted to clarify we would like the event heading and details text to be styled better right.

[2020-10-12 07:23] jsparmani commented on #333
Yeah good!
Yeah, event heading and details need to be styled better. Also, a good looking button instead of the `Link` text could be done.
![image](https://user-images.githubusercontent.com/41769747/95717027-f414f880-0c89-11eb-945d-4b0b2d7db54f.png)

[2020-10-12 09:25] stevenjburrows commented on #335
I will fix this for you if you want to assign it to me

[2020-10-12 09:45] jsparmani commented on #335
Sure, @stevenjburrows assigning it to you!

[2020-10-12 15:35] SaravgiYash commented on #335
@jsparmani Can I create a PR for this issue?

[2020-10-12 15:49] stevenjburrows commented on #335
I have already created the pr for it

[2020-10-12 15:51] SaravgiYash commented on #335
@stevenjburrows oh okay

[2020-10-12 15:52] SaravgiYash commented on #334
Hi, @jsparmani I would like to work on this issue.

[2020-10-12 16:12] jsparmani commented on #335
Done in #336

[2020-10-12 16:12] #335 closed, assigned to stevenjburrows

[2020-10-12 16:12] jsparmani commented on #334
Sure @Yashs911. Assigned it to you!

[2020-10-12 16:34] SaravgiYash commented on #334
@jsparmani I have created a PR

[2020-10-13 04:34] #334 closed, assigned to SaravgiYash

[2020-10-13 13:16] jsparmani opened #339 "Change Website Title"
**Is your feature request related to a problem? Please describe.**
Yeah. The website title needs to be updated.

**Describe the solution you'd like**
Change Title from "DSC Website" to "DSC TIET | Google Developers | Patiala"

**Describe alternatives you've considered**
N/A

**Additional context**
![image](https://user-images.githubusercontent.com/41769747/95865464-5a7e4180-0d84-11eb-87dc-ef584a56

[2020-10-13 13:21] liamortiz commented on #339
On it !

[2020-10-13 13:25] jsparmani commented on #261
Any updates on the task @Jeremiahiro ?

[2020-10-13 13:37] liamortiz commented on #339
Completed 👍

[2020-10-13 13:41] #339 closed, assigned to liamortiz

[2020-10-14 13:54] NUMBART commented on #333
@jsparmani just completed this. Let me know if I should change anything else to this.
Edit: Forgot the title in the earlier image
![image](https://user-images.githubusercontent.com/26141133/96001318-874e5980-0e55-11eb-9069-5fbcd20f02ac.png)

[2020-10-14 14:04] jsparmani commented on #333
Looks good @NUMBART. We can have a PR for this.

[2020-10-14 14:15] NUMBART commented on #333
I will raise one. There is one problem though I accidentally used yarn instead of npm.
Should I just remove the yarn.lock file and then run npm install and submit the PR?

[2020-10-14 16:47] jsparmani commented on #333
Hey @NUMBART not to worry! If you carefully see, this project also uses `yarn` and not `npm`.
Feel free to open the PR.
Did you mean the other way round?

[2020-10-14 16:56] NUMBART commented on #333
Actually I originally installed using yarn. Then I thought I was doing it wrong so reinstalled using npm(which is now causing one of the fails). I will see to this and install lint too pass the tests.

[2020-10-15 15:42] jsparmani commented on #333
Done

[2020-10-15 15:42] #333 closed, assigned to NUMBART

[2020-10-15 16:16] NUMBART opened #344 "Click on button triggers event in parent container too"
**Describe the bug**
Clicking on 'Learn More' button in Events cards also propagates click to StyledCard

**To Reproduce**
Navigate to Events page. First click on one of the cards anywhere apart from the card's button. Only the description pops up, next click on the button. The description pops up and the page loads the link referred to by the button

**Expected behavior**
Clicking on the button s

[2020-10-16 05:45] sprakash57 commented on #344
I would like to work on the issue. is it still available?

[2020-10-16 08:14] bughunter9 commented on #296
@jsparmani  I have tested the import export thing on my system and it works fine , the import and export buttons show up inside the member field inside the admin  panel from where data transaction can happen.

[2020-10-16 08:16] jsparmani commented on #296
Okay, so how does import work for members model in case of images?

[2020-10-18 22:03] DivjyotSingh commented on #344
I would like to work on this issue @jsparmani

[2020-10-19 04:53] jsparmani commented on #344
As @sprakash57 requested earlier, I would like to give him a chance first. @sprakash57 Please let me know if you still want to work on this else I can assign this to @DivjyotSingh .

[2020-10-19 06:48] sprakash57 commented on #344
@jsparmani you can assign it to @DivjyotSingh. Currently i am working on other issues.

[2020-10-19 07:00] jsparmani commented on #344
@DivjyotSingh Assigned.

[2020-10-20 04:21] #344 closed, assigned to DivjyotSingh

[2020-10-20 06:35] #23 closed, assigned to bughunter9

[2020-10-20 10:09] bughunter9 commented on #42
If the Database has been updated , can I work on this ?? @jsparmani

[2020-10-20 11:49] jsparmani commented on #42
@bughunter9 There are issues in Resources model. Some of the fields aren't required and are present there.
![image](https://user-images.githubusercontent.com/41769747/96582051-5e681180-12f8-11eb-8129-79b7335edebc.png)

Please have a look!

[2020-10-20 11:50] jsparmani commented on #42
We only need these for the resources model.
- name
- url
- topic model foreign key

[2020-10-20 11:59] bughunter9 commented on #42
ohk I will delete those which are not required and submit a PR again @jsparmani

[2020-10-20 14:40] jsparmani commented on #42
Assigned @bughunter9 for client side development.

[2021-04-02 07:32] Saurav-Shrivastav opened #435 "Incorrect Medium Links on the Team Page"
Medium links on the `Team` page redirect to `dsctiet.tech` and not to Medium Profiles of the members.

[2021-10-27 17:12] aniketbiswas21 opened #493 "Teams Page by Year and corresponding API"
**Is your feature request related to a problem? Please describe.**
We can have a tab section on the teams page, which helps us navigate through the DSC team over the years.

**Describe the solution you'd like**
A tab with years, which on select changes the team and displays the DSC team of that particular year.

**Describe alternatives you've considered**
None

**Additional context**
Apart from th

[2022-04-27 15:14] shubhank-saxena opened #534 "Anchor Player does not show controls"
**Describe the bug**
Hello team.
The anchor player (bottom of the screen on the podcast page) has a weird alignment, hiding the player.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://dsctiet.tech/#/podcast

**Screenshots**
![Screenshot 2022-04-27 at 8 42 44 PM (2)](https://user-images.githubusercontent.com/29003047/165551703-fe84b9bf-fc2a-4d22-9e02-20354e566539.png)

**Deskto

[2022-04-28 17:11] raghavTinker commented on #493
- [x] Backend API database must be storing the positions of the members for each year
- [x] Create an API endpoint for listing years and an endpoint for each year to get member details
- [x] Year-wise listing of members required in frontend

[2022-04-28 17:11] #435 closed, assigned to nobody

[2022-04-28 17:12] raghavTinker commented on #51
Can you please elaborate whats required?

[2022-04-28 17:15] raghavTinker commented on #296
What if we create a form for members to upload their details and images and from there we can run an automation script that can send authenticated post requests to the DSC-TIET API to add the members.

[2022-04-28 19:11] shubhank-saxena commented on #51
I guess this is depracted

[2022-04-28 19:11] #51 closed, assigned to nobody

[2022-04-29 04:26] jsparmani commented on #296
Sounds good

On Thu, 28 Apr 2022 at 22:45, Raghav Sharma ***@***.***>
wrote:

[2022-05-17 12:01] yash22arora commented on #534
Fixed with commit #871. Please confirm if it works fine now, @shubhank-saxena

[2022-05-17 17:00] shubhank-saxena commented on #534
Looks good! Thank you

[2022-05-18 07:51] yash22arora commented on #534
Great!

[2022-05-18 07:51] #534 closed, assigned to yash22arora

[2022-07-14 20:25] #493 closed, assigned to raghavTinker, yash22arora

[2022-10-05 20:23] Subhamjain02 commented on #25
Hey I would like to contribute

[2022-10-06 07:16] jaskeerat789 commented on #25
Feel free to work on it and open a PR @Subhamjain02